:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --main-bg-color: #fff;
    --secondary-bg-color: #f5f4fa;
    --dark-bg-color: #2f303a;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
}