.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--dark-bg-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-main-container {
    margin-right: 70px;
}

.logo-footer {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

    margin-bottom: 20px;
}

.logo-footer--accent {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.address__footer-text {
    font-style: normal;
    color: #fff;

    letter-spacing: 0.42px;

    margin-bottom: 9px;
}

.address__footer-contacts {
    text-align: left;
}

.address__footer-item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

.address__footer-link {
    display: block;
    justify-content: left;
    font-style: normal;
    text-decoration: none;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.42px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}