.footer-form {
    display: flex;
    flex-wrap: wrap;
}

.footer-form__mail-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--dark-bg-color);
    margin-right: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-left: 16px;

    color: #fff;
    /* padding: 12px 0; */

    &::placeholder {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        /* padding-left: 16px; */
    }
}

.footer-form__titel {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    margin-bottom: 20px;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
}

.footer-form-btn__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;

    margin-right: 10px;
}