.footer-icons {
    margin-right: 93px;
}

.footer-icons__link-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;

    margin-bottom: 20px;
}

.footer-link__list {
    display: flex;
    align-items: baseline;
}

.footer-link__footer-social-link-item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}