.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/Hero/Img\ Overlay.png),
        url(../images/Hero/bg-hero.jpg);

    background-color: var(--dark-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__titel {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: #fff;
    text-align: center;
    font-family: var(--main-font);

    margin-bottom: 30px;
}

.hero__button {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: var(--accent-color);
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            color: #fff;
            background-color: #1875c1;
        }
}

