.form {
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 4px;
    width: 528px;

    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}

.form-titel {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 448px;
    height: 23px;
    margin-bottom: 12px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
}

.form__label {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

/* ===================== */

.form__input-blok {
    position: relative;

    margin-bottom: 10px;
    width: 448px;
    height: 58px;
}

.form__input {
    outline: none;
    width: 100%;
    padding: 11px 0;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
    fill: var(--accent-color);
}

.form__input:focus {
    border-color: var(--accent-color);
}

.form__icon {
    position: absolute;
    top: 34px;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================== */
.form__textarea-blok {
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 20px; */
    width: 448px;
    /* height: 138px; */

    margin-bottom: 20px;
}

.form__textarea {
    outline: none;
    display: block;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 120px;

    resize: none;
    /* margin-bottom: 20px; */
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
    border-color: var(--accent-color);
}

.form__textarea-label {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form__textarea::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

/* ++++++++++++++++++++++++++ */

.form__checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    /* appearance: none;
  position: absolute; */
}

.form__checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    margin-bottom: 20px;
}

.form__checkbox-label-text {
    margin-left: 7px;
}

.form__checkbox-accent {
    margin-left: 4px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent-color);
}

.form__checkbox-icon {
    display: flex;
    align-items: center;

    background-image: url(../images/icons/icon-check.svg);
    background-size: contain;

    width: 15px;
    height: 14px;

    border: 2px solid var(--dark-bg-color);
    border-radius: 4px;
    background-origin: border-box;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .form__checkbox-input:checked+& {
                border-color: var(--accent-color);
                background-color: var(--accent-color);
            }
}


.form__checkbox-input:focus+.form__checkbox-icon {
    border-color: var(--accent-color);
}

/* +_+_+_+_++_+_++_+_++_+__++ */
.form__button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;

    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: #188ce8;
            /* outline: none; */
        }
}

