.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-item {
    display: block;
    margin-right: 50px;

    &:last-child {
            margin-right: 0;
        }
}



.navigation-link-nav-accent {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--accent-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
            content: "";
            display: block;
            width: 100%;
            border-radius: 2px;
            height: 4px;
            background-color: var(--accent-color);
    
            position: absolute;
            bottom: 0;
            left: 0;
        }
                &:focus {
                    color: var(--accent-color);
                }
}

.navigation-link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-text-color);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}



