.our-activity-images__images {
    display: flex;
    justify-content: center;
}

.our-activity-images__img-box {
    z-index: 1;
    position: relative;

    margin-right: 30px;
}


.our-activity-images__img-box:last-child {
    margin-right: 0px;
}



.our-activity-images__label {
    z-index: 1;

    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    font-family: var(--main-font);
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
    color: #fff;

    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}