.portfolio-container {
    box-sizing: content-box;
}

.portfolio-card__items-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-card__item {
    position: relative;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(3n + 1) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        display: block;
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
            0 1px 1px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
    }
}

.portfolio-card__item-link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__item-title {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio-card__product-name {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);

    margin-bottom: 4px;
}

.portfolio-card__product {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}