.portfolio-card__description-blok {
    position: relative;
    overflow: hidden;
}

.portfolio-card__description {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    display: block;
    color: var(--logo-whitecolor);
    background-color: #2196f3e5;
    padding-left: 24px;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: left;
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: rgba(33, 150, 243, 0.9);
}

.portfolio-card__description-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    color: #fff;

    width: 322px;
    height: 168px;
    background-color: rgba(33, 150, 243, 0.9);

}

.portfolio-card__item-link:hover .portfolio-card__description,
.portfolio-card__item-link :focus .portfolio-card__description {
    transform: translateY(0);
    opacity: 1;
    visibility: 1;
}