.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customers__icon-list {
    display: flex;

    width: 1170px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.regular-customers__item {
    width: 170px;
    height: 92px;

    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

}


.regular-costumers__icon {
    align-items: center;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .regular-costumers__icon-link:hover &,
    .regular-costumers-icon-link:focus & {
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        fill: var(--accent-color);
    }
}

.regular-costumers__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }

}

.regular-customers__titel {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-text-color);
}